<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cake House</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">




</head>

<body>
    <header>
        <div class="banner">
            <a href="#">Cake House</a>
        </div>
    </header>
    <main>
        <div class="container main-block">
            <figure class="item">
                <img src="/static/img/1.jpeg">
                <figcaption>
                    <h2>Cake 1</h2>
                    <p>Like 1</p>
                </figcaption>
            </figure>

            <figure class="item">
                <img src="/static/img/2.jpeg">
                <figcaption>
                    <h2>Cake 1</h2>
                    <p>Like 1</p>
                </figcaption>
            </figure>

            <figure class="item">
                <img src="/static/img/3.jpeg">
                <figcaption>
                    <h2>Cake 1</h2>
                    <p>Like 1</p>
                </figcaption>
            </figure>

            <figure class="item">
                <img src="/static/img/4.jpg">
                <figcaption>
                    <h2>Cake 1</h2>
                    <p>Like 1</p>
                </figcaption>
            </figure>

        </div>
    </main>
    <footer>
        <div class="container text-center">
            <div class="row">
                <p>@Cake House 2017</p>
            </div>
        </div>
    </footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</body>

</html>